<!-- cards -->
<div class="container mt-3">
    <div class="row">
  
    <!-- Pruning card -->
      <div class="col-lg-6 col-sm-12 mb-4 grid-margin">
        <div class="card h-100">
            <h4 class="card-header bg-primary text-white">Pruning</h4>
            <img class="card-img-top" src="../../../assets/imgs/pruning.jpg" alt="Picture of Pruning">
            <div class="card-body">
              <p class="card-text">Prune trees for overall health and longevity.</p>
            </div>
            <div class="card-footer">
              <Button class="btn btn-primary">Learn More</Button>
            </div>
        </div>
      </div>
  
      <!-- Removal card -->
      <div class="col-lg-6 col-sm-12 mb-4 grid-margin">
        <div class="card h-100">
            <h4 class="card-header bg-primary text-white">Removal</h4>
            <img class="card-img-top" src="../../../assets/imgs/stormDamage.jpg" alt="Picture of tree Removal">
            <div class="card-body">
              <p class="card-text">Remove hazardous and storm damaged trees for your safety.</p>
            </div>
            <div class="card-footer">
              <Button class="btn btn-primary">Learn More</Button>
            </div>
        </div>
      </div>

      <!-- Stump grinding card -->
      <div class="col-lg-6 col-sm-12 mb-4 grid-margin">
        <div class="card h-100">
            <h4 class="card-header bg-primary text-white">Stump Grinding</h4>
            <img class="card-img-top" src="../../../assets/imgs/stumper.jpg" alt="Picture of stump grinding">
            <div class="card-body">
              <p class="card-text">Stump Removal</p>
            </div>
            <div class="card-footer">
              <Button class="btn btn-primary">Learn More</Button>
            </div>
        </div>
      </div>
  
      <!-- Cable and bracing card -->
      <div class="col-lg-6 col-sm-12 mb-4 grid-margin">
        <div class="card h-100">
            <h4 class="card-header bg-primary text-white">Cable and Bracing</h4>
            <img class="card-img-top" src="..." alt="Picture of cabling">
            <div class="card-body">
              <p class="card-text">Support unfavorable tree conditions to promote longevity.</p>
            </div>
            <div class="card-footer">
              <Button class="btn btn-primary">Learn More</Button>
            </div>
        </div>
      </div>
  
      <!-- PHC card -->
      <div class="col-lg-12 col-sm-12 mb-4 grid-margin">
        <div class="card h-100">
            <h4 class="card-header bg-primary text-white">Plant Health Care</h4>
            <img class="card-img-top" src="..." alt="Picture of fertilizing">
            <div class="card-body">
              <p class="card-text">Fertilize and treat common landscape pests</p>
            </div>
            <div class="card-footer">
              <Button class="btn btn-primary">Learn More</Button>
            </div>
        </div>
      </div>
  
  </div>