
.trees {
    vertical-align: middle;
}


.nav-container{
    padding-top: 50px;
}




/*
*
*   remove extra tree icons on a mobile device
*
*/
@media (max-width: 640px) 
{
    #upperTrees {
        display: none;
    }
}