
.trees {
    vertical-align: middle;
    color: green;
}


.nav-container{
    padding-top: 50px;
    background-color: black;
    opacity: 95%;
}

.logo{
    font-family: Georgia;
    font-weight: bold;
}




/*
*
*   remove extra tree icons on a mobile device
*
*/
@media (max-width: 640px) 
{
    #upperTrees {
        display: none;
    }
}