@import '~bootstrap/dist/css/bootstrap.css';

body {
    background-image: url(../src/assets/imgs/background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

@media (max-width: 640px) 
{
    body {
        background-image: unset;
    }

    .navbar {
        padding-top: 25px;
    }
}